<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="layout/head :: config"></th:block>
<title>MultiFin:통합검색</title>
<!-- 현재 페이지에서만 쓰는 css, script -->
<link rel="stylesheet" th:href="@{/css/common/searchTotal.css}">
</head>
<body>
	<header th:replace="~{layout/header :: #header}"></header>
	<main>
		<section
			class="section-header section-image bg-primary overlay-primary text-white"
			data-background="../../assets/img/common/network.jpg">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-10 text-center">
						<h1 class="mb-3 stock-mainTitle">통합검색</h1>
					</div>
				</div>
			</div>
		</section>
	</main>
	<section class="bg-white  search_container">
		<div class="card shadow-soft search_details">
			<h4 class="search_title">
				<span style="color: orange">[[${searchValue}]]</span> 에 대한 검색 결과입니다.
			</h4>
			<form class="search_form" action="" method="get">
				<input class="search_input" type="text" name="searchValue"
					th:value="${param.searchValue}" placeholder="다른 검색어를 입력하고 싶으신가요?">
				<button class="search_btn" type="submit">
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</form>
		</div>
	</section>
	<section class="search_result">
		<div class="recommend_keywords">
			<h4 class="recommend">
				(<span style="color: orange;">#</span>) 추천검색어 |
			</h4>
			<div class="reccomend_keywords_btns">
				<input type="button" value="# 청약"
					onclick="location.href='http://localhost/common/searchTotal?searchValue=청약'"
					class="seaching_keyword"> <input type="button"
					value="# 삼성 전자"
					onclick="location.href='http://localhost/common/searchTotal?searchValue=삼성 전자'"
					class="seaching_keyword"> <input type="button"
					value="# KOSPI"
					onclick="location.href='http://localhost/common/searchTotal?searchValue=KOSPI'"
					class="seaching_keyword"> <input type="button"
					value="# 예적금 상품"
					onclick="location.href='http://localhost/common/searchTotal?searchValue=예적금 상품'"
					class="seaching_keyword"> <input type="button"
					value="# 주택 대출"
					onclick="location.href='http://localhost/common/searchTotal?searchValue=주택 대출'"
					class="seaching_keyword"> <input type="button"
					value="# 카드 상품"
					onclick="location.href='http://localhost/common/searchTotal?searchValue=카드 상품'"
					class="seaching_keyword">
			</div>
		</div>
	</section>
	<section class="bg-white search_result_tab">
		<div class="container">
			<ul class="tabs">
				<li class="tab-link current" data-tab="tab-1">금융</li>
				<li class="tab-link" data-tab="tab-2">증권</li>
				<li class="tab-link" data-tab="tab-3">부동산</li>
				<li class="tab-link" data-tab="tab-4">뉴스</li>
				<li class="tab-link" data-tab="tab-5">게시판</li>
			</ul>
			<div id="tab-1" class="tab-content current">
				<th:block th:if="${bankSize != 0}">
					<h5 class="search_result_description">
						검색 결과
						<sapn style="color: orange;"> [[${bankSize}]]</sapn>
						건
					</h5>
				</th:block>
				<table id="tbl-board" class="board_table_bank">
					<th:block th:if="${bankSize == 0}">
						<tr>
							<td colspan="6" style="text-align: center;">조회된 정보가 없습니다.</td>
						</tr>
					</th:block>

					<th:block th:if="${bankSize != 0}">
						<th:block th:if="${creditList.size != 0}">
							<h4 class="mt-5 mb-1">체크카드</h4>
							<tr class="table_row table_header_bank">
								<th class="table-header">번호</th>
								<th class="table-header">카드명</th>
								<th class="table-header">상품특징</th>
								<th class="table-header">주요혜택</th>
								<th class="table-header">상세정보</th>
							</tr>
							<tr class="table_row" th:each="credit, number : ${creditList}">
								<td class="board-content_bank">[[${number.index}+1]]</td>
								<td class="board-content_bank">[[${credit.productNm}]]</td>
								<td class="board-content_bank"><img
									th:src="${credit.productImg}">[[${credit.productChar}]]</td>
								<td class="board-content_bank">[[${credit.keyBenefit}]]</td>
								<td class="board-content_bank"><a
									th:href="${credit.detailUrl}" target="_blank">카드사바로가기</a></td>
							</tr>
						</th:block>

						<th:block th:if="${debitList.size != 0}">
							<h4 class="mt-5 mb-1">신용카드</h4>
							<tr class="table_row table_header_bank">
								<th class="table-header">번호</th>
								<th class="table-header">카드명</th>
								<th class="table-header">상품특징</th>
								<th class="table-header">주요혜택</th>
								<th class="table-header">상세정보</th>
							</tr>
							<tr class="table_row" th:each="debitList, number : ${debitList}">
								<td class="board-content_bank">[[${number.index}+1]]</td>
								<td class="board-content_bank">[[${debitList.productNm}]]</td>
								<td class="board-content_bank"><img
									th:src="${debitList.productImg}">[[${debitList.productChar}]]</td>
								<td class="board-content_bank">[(${debitList.keyBenefit})]</td>
								<td class="board-content_bank"><a
									th:href="${debitList.detailUrl}" target="_blank">카드사 바로가기</a></td>
							</tr>
						</th:block>

						<th:block th:if="${loanCreditList0.size != 0}">
							<h4 class="mt-5 mb-1">개인신용대출</h4>
							<tr class="table_row table_header_bank">
								<th class="table-header">번호</th>
								<th class="table-header">금융회사명</th>
								<th class="table-header">금융상품</th>
								<th class="table-header">대출종류명</th>
								<th class="table-header">금리구분</th>
								<th class="table-header">평균금리</th>
							</tr>
							<tr class="table_row"
								th:each="loanCreditList0, number : ${loanCreditList0}">
								<td class="board-content_bank">[[${number.index}+1]]</td>
								<td class="board-content_bank" style="width: 240px;">[[${loanCreditList0.korCoNm}]]</td>
								<td class="board-content_bank" style="width: 240px;">[[${loanCreditList0.finPrdtNm}]]</td>
								<td class="board-content_bank">[[${loanCreditList0.crdtPrdtTypeNm}]]</td>
								<td class="board-content_bank">[[${loanCreditList0.crdtLendRateTypeNm}]]</td>
								<td class="board-content_bank" style="width: 72px;">[[${loanCreditList0.crdtGradAvg}]]</td>
							</tr>
						</th:block>

						<th:block th:if="${loanMortgageList0.size != 0}">
							<h4 class="mt-5 mb-1">주택담보대출</h4>
							<tr class="table_row table_header_bank">
								<th class="table-header">번호</th>
								<th class="table-header">금융회사명</th>
								<th class="table-header">금융상품</th>
								<th class="table-header">대출종류명</th>
								<th class="table-header">금리구분</th>
								<th class="table-header">평균금리</th>
							</tr>
							<tr class="table_row"
								th:each="loanMortgageList0, number : ${loanMortgageList0}">
								<td class="board-content_bank">[[${number.index}+1]]</td>
								<td class="board-content_bank">[[${loanMortgageList0.korCoNm}]]</td>
								<td class="board-content_bank">[[${loanMortgageList0.finPrdtNm}]]</td>
								<td class="board-content_bank">[[${loanMortgageList0.rpayTypeNm}]]</td>
								<td class="board-content_bank">[[${loanMortgageList0.lendRateTypeNm}]]</td>
								<td class="board-content_bank">[[${loanMortgageList0.lendRateAvg}]]</td>
							</tr>
						</th:block>

						<th:block th:if="${savingList.size != 0}">
							<h4 class="mt-5 mb-1">적금상품</h4>
							<tr class="table_row table_header_bank">
								<th class="table-header">번호</th>
								<th class="table-header">금융상품</th>
								<th class="table-header">이율</th>
								<th class="table-header">금융회사</th>
								<th class="table-header">가입방법</th>
								<th class="table-header">적립유형</th>
							</tr>
							<tr class="table_row"
								th:each="savingList, number : ${savingList}">
								<td class="board-content_bank">[[(${pageSavingInfo.currentPage}-1)*10+${number.index}+1]]</td>
								<td class="board-content_bank">[[${savingList.finPrdtNm}]]</td>
								<td class="board-content_bank">[[${savingList.intrRate2}]]</td>
								<td class="board-content_bank">[[${savingList.korCoNm}]]</td>
								<td class="board-content_bank">[[${savingList.joinWay}]]</td>
								<td class="board-content_bank">[[${savingList.intrRateTypeNm}]]</td>
							</tr>
						</th:block>

						<th:block th:if="${depositList.size != 0}">
							<h4 class="mt-5 mb-1">예금상품</h4>
							<tr class="table_row table_header_bank">
								<th class="table-header_bank">번호</th>
								<th class="table-header_bank">금융상품</th>
								<th class="table-header_bank">이율</th>
								<th class="table-header_bank">금융회사</th>
								<th class="table-header_bank">가입방법</th>
								<th class="table-header_bank">적립유형</th>
							</tr>
							<tr class="table_row"
								th:each="depositList, number : ${depositList}">
								<td class="board-content_bank">[[(${pageDepositInfo.currentPage}-1)*10+${number.index}+1]]</td>
								<td class="board-content_bank">[[${depositList.finPrdtNm}]]</td>
								<td class="board-content_bank">[[${depositList.intrRate2}]]</td>
								<td class="board-content_bank">[[${depositList.korCoNm}]]</td>
								<td class="board-content_bank">[[${depositList.joinWay}]]</td>
								<td class="board-content_bank">[[${depositList.intrRateTypeNm}]]</td>
							</tr>
						</th:block>
					</th:block>
				</table>
			</div>

			<div id="tab-2" class="tab-content">
				<!-- 주식 -->
				
			</div>

			<div id="tab-3" class="tab-content">
				<!-- 부동산 -->
				<th:block th:if="${newsList1.size != 0}">
					<h5 class="search_result_description">
						검색 결과
						<sapn style="color: orange;"> [[${newsList1.size}]]</sapn>
						건
					</h5>
				</th:block>
				<table id="tbl-board" class="board_table_bank">
					<th:block th:if="${newsList1.size == 0}">
						<tr>
							<td colspan="6" style="text-align: center;">조회된 정보가 없습니다.</td>
						</tr>
					</th:block>
					<th:block th:if="${newsList1.size != 0}">
						<tr class="table_row table_header_bank">
							<th class="table-header">번호</th>
							<th class="table-header">구분</th>
							<th class="table-header">지역</th>
							<th class="table-header">주택명</th>
							<th class="table-header">주택구분</th>
							<th class="table-header">등록일</th>
							<th class="table-header">관련정보</th>
						</tr>
						<tr th:each="news, number : ${newsList1}">
							<td class="board-content">[[${number.index}+1]]</td>
							<td class="board-content">[[${news.title}]]</td>
							<td th:onclick="|location.href='@{${news.originallink}}'|">바로가기</td>
						</tr>
					</th:block>
				</table>
			</div>
			<div id="tab-4" class="tab-content">
				<!--뉴스-->
				<th:block th:if="${newsList1.size != 0}">
					<h5 class="search_result_description">
						검색 결과
						<sapn style="color: orange;"> [[${newsList1.size}]]</sapn>
						건
					</h5>
				</th:block>
				<table id="tbl-board" class="board_table_bank">
					<th:block th:if="${newsList1.size == 0}">
						<tr>
							<td colspan="6" style="text-align: center;">조회된 정보가 없습니다.</td>
						</tr>
					</th:block>
					<th:block th:if="${newsList1.size != 0}">
						<tr class="table_row table_header_bank">
							<th class="table-header">번호</th>
							<th class="table-header">제목</th>
							<th class="table-header">뉴스보기</th>
						</tr>
						<tr th:each="news, number : ${newsList1}">
							<td class="board-content">[[${number.index}+1]]</td>
							<td class="board-content">[[${news.title}]]</td>
							<td th:onclick="|location.href='@{${news.originallink}}'|">바로가기</td>
						</tr>
					</th:block>
				</table>
			</div>
			<div id="tab-5" class="tab-content">
				<!-- 자유게시판 -->
				<table id="tbl-board" class="board_table_bank">
					<th:if test="[[${freeList.size == 0}]]">
						<h5 class="search_result_description" colspan="5">
							검색 결과가 없습니다.
							</td>
						</h5>
					</th:if>
					<tr class="table_row table_header">
						<th class="table-header">번호</th>
						<th class="table-header">구분</th>
						<th class="table-header">제목</th>
						<th class="table-header">작성일</th>
					</tr>
					<th:if test="[[${not empty freeList}]]">
						<th:block th:each="board, status : ${freeList}">
							<tr>
								<td class="board-content"><a
									href="$/localhost/community/freeList?no=${board.board_bNo}">${board.bNo}</a></td>
								<td class="board-content"><a
									href="$localhost/community/freeList?no=${board.board_bNo}">${board.type}</a></td>
								<td class="board-content"><a
									href="$localhost/community/freeList?no=${board.board_bNo}">${board.title}</a></td>
								<td class="board-content"><fmt:formatDate
										pattern="yyyy-MM-dd" value="${board.createDate}" /></td>
							</tr>
						</th:block>
					</th:if>
				</table>
				<div class="table-buttons">
					<button onclick="" class="table-button">&lt;&lt;</button>
					<button onclick="" class="table-button">&lt;</button>
					<button onclick="" class="table-button">1</button>
					<button onclick="" class="table-button">&gt;</button>
					<button onclick="" class="table-button">&gt;&gt;</button>
				</div>
			</div>
		</div>
	</section>
	<section class="stock__total pb-5">
		<div class="stock__total_table">
			<div class="kr_stock">
				<div class="stock__table">
					<h6 class="rank_title">
						KOSPI <span style="color: rgb(231, 76, 60);">TOP5</span>
					</h6>
					<table class="stock">
						<tr>
							<td class="stock__rank">1</td>
							<td>삼성전자</td>
							<td>55,200</td>
							<td class="down">▼ -1.8%</td>
						</tr>
						<tr>
							<td class="stock__rank">2</td>
							<td>LG에너지솔루션</td>
							<td>55,200</td>
							<td class="down">▼ -1.8%</td>
						</tr>
						<tr>
							<td class="stock__rank">3</td>
							<td>SK하이닉스</td>
							<td>55,200</td>
							<td class="up">▲ -1.8%</td>
						</tr>
						<tr>
							<td class="stock__rank">4</td>
							<td>삼성SDI</td>
							<td>55,200</td>
							<td class="down">▼ -1.8%</td>
						</tr>
						<tr>
							<td class="stock__rank">5</td>
							<td>CJENM</td>
							<td>55,200</td>
							<td class="down">▼ -1.8%</td>
						</tr>
					</table>
				</div>
				<div class="stock__table">
					<h6 class="rank_title">
						KOSDAQ <span style="color: rgb(231, 76, 60);">TOP5</span>
					</h6>
					<table class="stock">
						<tr>
							<td class="stock__rank">1</td>
							<td>삼성전자</td>
							<td>55,200</td>
							<td class="down">▼ -1.8%</td>
						</tr>
						<tr>
							<td class="stock__rank">2</td>
							<td>LG에너지솔루션</td>
							<td>55,200</td>
							<td class="down">▼ -1.8%</td>
						</tr>
						<tr>
							<td class="stock__rank">3</td>
							<td>SK하이닉스</td>
							<td>55,200</td>
							<td class="up">▲ -1.8%</td>
						</tr>
						<tr>
							<td class="stock__rank">4</td>
							<td>삼성SDI</td>
							<td>55,200</td>
							<td class="down">▼ -1.8%</td>
						</tr>
						<tr>
							<td class="stock__rank">5</td>
							<td>CJENM</td>
							<td>55,200</td>
							<td class="down">▼ -1.8%</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="stock__table nasdaq">
				<h6 class="rank_title">
					NASDAQ <span style="color: rgb(231, 76, 60);">TOP10</span>
				</h6>
				<table class="stock">
					<tr>
						<td class="stock__rank">1</td>
						<td>삼성전자</td>
						<td>55,200</td>
						<td class="down">▼ -1.8%</td>
					</tr>
					<tr>
						<td class="stock__rank">2</td>
						<td>LG에너지솔루션</td>
						<td>55,200</td>
						<td class="down">▼ -1.8%</td>
					</tr>
					<tr>
						<td class="stock__rank">3</td>
						<td>SK하이닉스</td>
						<td>55,200</td>
						<td class="up">▲ -1.8%</td>
					</tr>
					<tr>
						<td class="stock__rank">4</td>
						<td>삼성SDI</td>
						<td>55,200</td>
						<td class="down">▼ -1.8%</td>
					</tr>
					<tr>
						<td class="stock__rank">5</td>
						<td>CJENM</td>
						<td>55,200</td>
						<td class="down">▼ -1.8%</td>
					</tr>
					<tr>
						<td class="stock__rank">6</td>
						<td>삼성전자</td>
						<td>55,200</td>
						<td class="down">▼ -1.8%</td>
					</tr>
					<tr>
						<td class="stock__rank">7</td>
						<td>LG에너지솔루션</td>
						<td>55,200</td>
						<td class="down">▼ -1.8%</td>
					</tr>
					<tr>
						<td class="stock__rank">8</td>
						<td>SK하이닉스</td>
						<td>55,200</td>
						<td class="up">▲ -1.8%</td>
					</tr>
					<tr>
						<td class="stock__rank">9</td>
						<td>삼성SDI</td>
						<td>55,200</td>
						<td class="down">▼ -1.8%</td>
					</tr>
					<tr>
						<td class="stock__rank">10</td>
						<td>CJENM</td>
						<td>55,200</td>
						<td class="down">▼ -1.8%</td>
					</tr>
				</table>
			</div>
			<div class="stock__table adver">
				<div>
					<i class="fa-solid fa-arrow-trend-up"></i>
				</div>
				<h5 class="adver__Title">증권</h5>
				<h6 class="adver__description">모의 투자 경험을 바탕으로 실제 주식 투자에 도전해
					보세요!</h6>
				<button class="adver_btn" onclick="location.href='./stockList.html'">더보기</button>
			</div>
		</div>
	</section>

	<footer th:replace="~{layout/footer :: #footer}"></footer>

	<th:block th:replace="layout/scripts :: scripts"></th:block>

	<script>
		// Background images for sections
		$('[data-background]').each(
				function() {
					$(this).css('background-image',
							'url(' + $(this).attr('data-background') + ')');
				});
		$('[data-background-inner]').each(
				function() {
					$(this).find('.inner-bg').css(
							'background-image',
							'url(' + $(this).attr('data-background-inner')
									+ ')');
				});
		$('[data-background-color]').each(
				function() {
					$(this).css('background-color',
							$(this).attr('data-background-color'));
				});
		$('[data-color]').each(function() {
			$(this).css('color', $(this).attr('data-color'));
		});

		$(document).ready(function() {

			$('ul.tabs li').click(function() {
				var tab_id = $(this).attr('data-tab');

				$('ul.tabs li').removeClass('current');
				$('.tab-content').removeClass('current');

				$(this).addClass('current');
				$("#" + tab_id).addClass('current');
			})

		});
	</script>
</body>
</html>