<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="layout/head :: config"></th:block>
	<title>MultiFin:마이페이지</title>
	<!-- 현재 페이지에서만 쓰는 css, script -->
<style>
    .here{font-weight: 600;}
    .btner{width: 120px;}
</style>
</head>
<body>
<header th:replace="~{layout/header :: #header}"></header>
    <main>
        <div class="section section-lg bg-soft">            
            <div class="container">
                <div class="row pt-5 pt-md-0">
                    <div class="col-12 col-md-4 d-none d-lg-block">
                        <!-- Navigation -->
                        <div class="card border-light p-2">
                            <div class="card-body p-2">
                                <div class="profile-thumbnail small-thumbnail mx-auto">
                                    <img src="../../assets/img/member/mypage_img01 copy.jpg" class="card-img-top rounded-circle border-white" alt="Joseph Portrait">
                                </div>
                                <h2 class="h5 font-weight-normal text-center mt-3 mb-0"><span class="title here">User</span></h2>
                                <div class="list-group dashboard-menu list-group-sm mt-4">
                                    <a href="./account.html" class="d-flex list-group-item list-group-item-action title">나의 계좌 <span class="icon icon-xs ml-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                    <a href="./settings.html" class="d-flex list-group-item list-group-item-action title active ">회원정보변경<span class="icon icon-xs ml-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                    <a href="./my-items.html" class="d-flex list-group-item list-group-item-action title">내 글 보기<span class="icon icon-xs ml-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                    <a href="./security.html" class="d-flex list-group-item list-group-item-action title">내 댓글 보기<span class="icon icon-xs ml-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                    <!-- <a href="./billing.html" class="d-flex list-group-item list-group-item-action ">찜한 목록보기<span class="icon icon-xs ml-auto"><span class="fas fa-chevron-right"></span></span> </a> -->
                                    <a href="./messages.html" class="d-flex list-group-item list-group-item-action  border-0 title">메시지<span class="icon icon-xs ml-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-body bg-white border-light mb-4 pt-5 pb-5 pr-5 pl-5">
                                    <h2 class="h4 mb-5 title here">회원정보</h2>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label for="first_name"> <span class="title here">이름</span></label>
                                                    <input class="form-control" id="first_name" type="text" placeholder="홍길동">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label for="birthday" class="title here">생년 월일</label>
                                                    <input type="date" class="form-control flatpickr-input" id="currnetDate" data-toggle="date" placeholder="Select your birth date">
                                                    </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label for="gender" class="title here">성별</label>
                                                    <select class="custom-select" id="gender">
                                                        <option disabled="disabled" selected="selected">성별</option>
                                                        <option value="1">여</option>
                                                        <option value="2">남</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label for="email" class="title here">E-mail</label>
                                                    <input class="form-control" id="email" type="email" placeholder="ex@company.com">
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label for="phone" class="title here">핸드폰</label>
                                                    <input class="form-control" id="phone" type="text" placeholder="+10 0000 0000">
                                                </div>
                                            </div>
                                        </div>
                                        <h2 class="h5 my-4 title here">주소</h2>
                                        <div class="row">
                                            <div class="col-sm-9 mb-3">
                                                <div class="form-group">
                                                    <label for="address" class="title here">상세 주소</label>
                                                    <input class="form-control" id="address" type="text" placeholder="주소입력">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 mb-3">
                                                <div class="form-group">
                                                    <label for="city" class="title here">도시</label>
                                                    <input class="form-control" id="city" type="text" placeholder="서울">
                                                </div>
                                            </div>
                                            <div class="col-sm-4 mb-3">
                                                <div class="form-group">
                                                    <label for="country" class="title here">나라</label>
                                                    <select class="form-control select2-hidden-accessible" id="country" data-toggle="select" title="Country" data-live-search="true" data-live-search-placeholder="Country" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                                        <option data-select2-id="3">대한민국</option>
                                                        <option>미국</option>
                                                        <option>중국</option>
                                                        <option>일본</option>
                                                        <option>영국</option>
                                                        <option>독일</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="zip" class="title here">우편번호</label>
                                                    <input class="form-control" id="zip" type="tel" placeholder="우편번호 5자리">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary title here btner" > 저장 </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<footer th:replace="~{layout/footer :: #footer}"></footer>
<th:block th:replace="layout/scripts :: scripts"></th:block>
</body>
</html>