<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="layout/head :: config"></th:block>
	<title>MultiFin:로그인</title>
	<!-- 현재 페이지에서만 쓰는 css, script -->
<style>
    .title,.form-control,.email,.title_sub{  font-family: 'IBM Plex Sans KR', sans-serif;}
    .title_sub{font-size: 15px;}
    .here{font-weight: 600;}
</style>
</head>
<body>
    <main>
        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark py-5 py-lg-0" data-background="../../assets/img/common/form-image.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="text-center text-md-center mb-3 mt-4 md-0 text-white">
                            <h1 class="title mb-0 h3">로그인</h1>
                        </div>
                    </div>
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner mt-3 mt-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <form action="#">
                                <!-- Form -->
                                <div class="form-group">
                                    <label for="email"><sapn class="title here">ID 또는 E-mail</sapn></label>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><span class="fas fa-envelope"></span></span>
                                        </div>
                                        <input class="form-control" id="email" placeholder="아이디 혹은 이메일을 입력해주세요." type="text" aria-label="email address">
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="password"><sapn class="title here">Password</sapn></label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span class="fas fa-unlock-alt"></span></span>
                                            </div>
                                            <input class="form-control" id="password" placeholder="비밀번호를 입력해주세요." type="password" aria-label="Password" required>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="remember">
                                            <label class="form-check-label" for="remember">
                                                <sapn class="title">아이디 기억하기</sapn>
                                            </label>
                                        </div>
                                        <div><a href="../../html/member/forgot-password.html" class="text-right"><b class="title_sub">비밀번호를 잊으셨나요?</b></a></div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-block btn-primary"><span class="title">로그인</span></button>
                            </form>
                            <div class="mt-3 mb-4 text-center">
                                <span class="font-weight-normal">or</span>
                            </div>
                            <div class="btn-wrapper my-4 text-center">
                                <a href="#"><img src="../../assets/img/common/kakao_bu_fix04 copy.png"></a>
                            </div>
                            <div class="d-block d-sm-flex justify-content-center align-items-center mt-4">
                                <span class="title font-weight-normal">
                                    아이디가 없으신가요?
                                    <a href="./sign-up.html" class="font-weight-bold"><b>가입하기</b></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
<th:block th:replace="layout/scripts :: scripts"></th:block>
</body>
</html>