<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="layout/head :: config"></th:block>
	<title>MultiFin:bankDetail</title>
	<!-- 현재 페이지에서만 쓰는 css, script -->
	<link rel="stylesheet" th:href="@{/css/bank/bank.css}">
</head>

<body>
<header th:replace="~{layout/header :: #header}"></header>
<main>
<!-- 배너 시작 -->
    <!-- Hero -->
    <section class="section section-header bg-soft pb-3 pt-5">
        <div class="container">
            <div class="row justify-content-between align-items-center bankMain">
                <div class="col-12 col-md-5  bankMain_Title">
                    <h1 class="main_maintitle">상세보기</h1>
                    <h5 class="font-weight-normal main_subtitle">은행별 예•적금, 대출, 카드 상품을 비교할 수 있습니다.<br>멀티핀을 통해 당신에게 맞는 상품을 선택하세요.</h5>
                </div>
                <div class="img_container">
                   <!-- Image --> 
                   <img src="../../assets/img/ours/mobile-banking-vector-free-illustration.png" class="img-fluid" alt="Forest Illustration">
                </div>
            </div>
        </div>
    </section>
<!-- 배너 끝 -->

<!-- 이달의 추천 금융상품 TOP4 시작 -->
    <section class="section section-lg bg-lightgray pt-6 pb-5">
        <div class="container">
            <div class="row d-none d-lg-block">
                <div class="col-12">
                    <!-- Cities -->
                    <div class="form-row">
                        <div class="col-4">
                                <p style="font-size: 26px; line-height: 40px;"  class="h3 font-weight-bolder recommend-title">이달의<br> 추천 금융 상품 <span style="color:rgb(243, 156, 18);">TOP4</span></p>
                                <p class="font-weight-normal font-medium">MULTIFIN에서 추천하는<br>이달의 금융 상품을 확인해보세요!</p>
                                <button style="font-size: 18px;" class="bankMainMoreBtn">더보기</button>
                        </div>
                        <div class="col-8">
                            <div class="form-row">
                                <div class="col">
                                    <!-- Card 1행 1열 -->
                                    <a href="#" class="card img-card fh-220 border border-gray-500 outer-bg top4-card">
                                        <div class="d-flex align-items-center top4_inner">
                                            <img class="bank_logo" src="https://pds.saramin.co.kr/company/logo/201905/23/pry5ef_o0q6-2rxid6_logo.jpg">
                                            <div class="top4-text">
                                                <h4 class="font-weight-bolder text-left top4-title">신한 쓸만해 적금</h4>
                                                <p class="top4-memo" style="color: red;">5.5%</p>
                                                <span class="top4-memo">12개월</span>
                                                <span class="top4-memo">자유적립</span>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- End of Card -->
                                </div>
                                <div class="col">
                                    <!-- Card 1행 2열 -->
                                    <a href="#" class="card img-card fh-220 border border-gray-500 outer-bg top4-card">
                                        <div class="d-flex align-items-center top4_inner">
                                            <img class="bank_logo" src="https://image.kebhana.com/cont/common/img/newmain2021/logo.png">
                                            <div class="top4-text">
                                                <h4 class="font-weight-bolder text-left top4-title">하나 정기예금</h4>
                                                <p class="top4-memo" style="color: red;">3.4%</p>
                                                <span class="top4-memo">12개월</span>
                                                <span class="top4-memo">단리</span>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- End of Card -->
                                </div>
                            </div> 
                            <div class="form-row">
                                <div class="col">
                                    <!-- Card 2행 1열 -->
                                    <a href="#" class="card img-card fh-220 border border-gray-500 outer-bg top4-card">
                                        <div class="d-flex align-items-center top4_inner">
                                            <img class="bank_logo" class="top4_logo" src="https://oimg1.kbstar.com/img/obiz/2021/kb_logo.png">
                                            <div class="top4-text">
                                                <h4 class="font-weight-bolder text-left top4-title">KB 마이핏 적금</h4>
                                                <p class="top4-memo" style="color: red;">5.5%</p>
                                                <span class="top4-memo">12개월</span>
                                                <span class="top4-memo">자유적립</span>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- End of Card -->
                                </div>
                                <div class="col">
                                    <!-- Card 2행 2열 -->
                                    <a href="#" class="card img-card fh-220 border border-gray-500 outer-bg top4-card">
                                        <div class="d-flex align-items-center top4_inner">
                                            <img class="bank_logo" src="https://pds.saramin.co.kr/company/logo/201905/23/pry5ef_o0q6-2rxid6_logo.jpg">
                                            <div class="top4-text">
                                                <h4 class="font-weight-bolder text-left top4-title">신한 썸통장</h4>
                                                <p class="top4-memo" style="color: red;">5.3%</p>
                                                <span class="top4-memo">12개월</span>
                                                <span class="top4-memo">자유적립</span>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- End of Card -->
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- 이달의 추천 금융상품 TOP4 끝 -->


<!-- 저금리 대출상품 시작 -->
<section class="section section-lg pt-0 pb-6 loan_card">
    <div class="container" style="width: 1100px;">
        <div class="row">
            <div class="col-12 loan-title mb-3">
                <div class="main_loan_title">
                    <div class="main_goods_title">
                        <p style="font-size: 26px;" class="h3 font-weight-bolder goods_title">저금리 대출 상품</p>
                        <span class="pointBox pl-2 pr-2">BEST</span>
                    </div>
                </div>
                <div class="loan_btn_container">
                    <a href="#" class="bankMainMore">
                        <span class="loanMainMore_title">더보기</span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="card-container">
                <a href="#" class="card img-card fh-220 outer-bg border-gray-500 lowRateCard">
                    <div class="align-items-center fh-220">
                        <div class="card-body text-dark p-3">
                            <h5 class="text-center">KB주택전세자금대출</h5>
                            <hr style="border-color: black;margin: 0;">
                            <p class="text-dark mt-3">
                                * 한도 : 최대 2.22억원<br>
                                * 상환 : 만기일시상환방식<br>
                                * 금리 : 변동금리<br>
                            </p>
                            <hr style="border-color: black;margin: 0;">
                            <h5 class="text-right mt-3">4.04%</h5>
                        </div>
                    </div>
                </a>
                <a href="#" class="card img-card fh-220 outer-bg border-gray-500 lowRateCard">
                    <div class="align-items-center fh-220">
                            <div class="card-body text-dark p-3">
                                <h5 class="text-center">SC전세담보대출</h5>
                                <hr style="border-color: black;margin: 0;">
                                <p class="text-dark mt-3">
                                    * 한도 : 최대 2.22억원<br>
                                    * 상환 : 만기일시상환방식<br>
                                    * 금리 : 변동금리<br>
                                </p>
                                <hr style="border-color: black;margin: 0;">
                                <h5 class="text-right mt-3">4.33%</h5>
                            </div>
                    </div>
                </a>
                <a href="#" class="card img-card fh-220 outer-bg border-gray-500 lowRateCard">
                    <div class="align-items-center fh-220">
                        <div class="card-body text-dark p-3">
                            <h5 class="text-center">우리전세론(금융보증)</h5>
                            <hr style="border-color: black;margin: 0;">
                            <p class="text-dark mt-3">
                                * 한도 : 최대 2.22억원<br>
                                * 상환 : 만기일시상환방식<br>
                                * 금리 : 변동금리<br>
                            </p>
                            <hr style="border-color: black;margin: 0;">
                            <h5 class="text-right mt-3">4.04%</h5>
                        </div>
                    </div>
                </a>
                <a href="#" class="card img-card fh-220 outer-bg border-gray-500 lowRateCard">
                    <div class="align-items-center fh-220">
                        <div class="card-body text-dark p-3">
                            <h5 class="text-center">신한전세대출(보증)</h5>
                            <hr style="border-color: black;margin: 0;">
                            <p class="text-dark mt-3">
                                * 한도 : 최대 2.22억원<br>
                                * 상환 : 만기일시상환방식<br>
                                * 금리 : 변동금리<br>
                            </p>
                            <hr style="border-color: black;margin: 0;">
                            <h5 class="text-right mt-3">4.04%</h5>
                        </div>
                    </div>
                 </a>
            </div>
        </div>
    </div>
</section>
<!-- 저금리 대출상품 끝 -->
</main>

<footer th:replace="~{layout/footer :: #footer}"></footer>

<th:block th:replace="layout/scripts :: scripts"></th:block>

<!-- 찜하기 버튼 -->
<script>
    // 초기화 문구
    $(function(){
        // 하트 class 초기화
        heartItems = document.getElementsByClassName('heart');
        for(i = 0; i < heartItems.length; i++){
            heartValue = JSON.parse(heartItems[i].getAttribute('value'));

            if(heartValue == true){
                heartItems[i].innerHTML = '♥';
            }else{
                heartItems[i].innerHTML = '♡';
            }
        }
    });



    function onClickHeart(id){
        heartValue = JSON.parse($('#'+id).attr('value'));
        heartValue = !heartValue;
        // 여기에 AJAX로 DB 업데이트하는 코드 있어야함!!

        $('#'+id).attr('value', ''+heartValue);
        if(heartValue == true){
            $('#'+id).text('♥');
        }else{
            $('#'+id).text('♡');
        }
    }
</script>


</body>

</html>