<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//KO" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.multi.multifin.home.model.mapper.HomeBlueMapper">
	
		<resultMap type="Aptdetail" id="AptdetailResultMap">
			<id property="aptDno" column="aptDno" />
			<result property="bsnsMbyNm" column="bsns_mby_nm"/>
			<result property="cnstrctEntrpsNm" column="cnstrct_entrps_nm"/>
			<result property="cntrctCnclsBgnde" column="cntrct_cncls_bgnde"/>
			<result property="cntrctCnclsEndde" column="cntrct_cncls_endde"/>
			<result property="gnrlRnk1CrspareaRceptPd" column="gnrl_rnk1_crsparea_rcept_pd"/>
			<result property="gnrlRnk1EtcAreaRcptdePd" column="gnrl_rnk1_etc_area_rcptde_pd"/>
			<result property="hmpgAdres" column="hmpg_adres"/>
			<result property="houseDtlSecdNm" column="house_dtl_secd_nm"/>
			<result property="houseManageNo" column="house_manage_no"/>
			<result property="houseNm" column="house_nm"/>
			<result property="houseSecdNm" column="house_secd_nm"/>
			<result property="hssplyAdres" column="hssply_adres"/>
			<result property="hssplyZip" column="hssply_zip"/>
			<result property="mdhsTelno" column="mdhs_telno"/>
			<result property="mvnPrearngeYm" column="mvn_prearnge_ym"/>
			<result property="nplnPrvoprPublicHouseAt" column="npln_prvopr_public_house_at"/>
			<result property="parcprcUlsAt" column="parcprc_uls_at"/>
			<result property="pblancNo" column="pblanc_no"/>
			<result property="pblancUrl" column="pblanc_url"/>
			<result property="przwnerPresnatnDe" column="przwner_presnatn_de"/>
			<result property="publicHouseEarthAt" column="public_house_earth_at"/>
			<result property="rceptBgnde" column="rcept_bgnde"/>
			<result property="rceptEndde" column="rcept_endde"/>
			<result property="rcritPblancDe" column="rcrit_pblanc_de"/>
			<result property="rentSecdNm" column="rent_secd_nm"/>
			<result property="specltRdnEarthAt" column="speclt_rdn_earth_at"/>
			<result property="spsplyRceptBgnde" column="spsply_rcept_bgnde"/>
			<result property="spsplyRceptEndde" column="spsply_rcept_endde"/>
			<result property="subscrptAreaCodeNm" column="subscrpt_area_code_nm"/>
			<result property="totSuplyHshldco" column="tot_suply_hshldco"/>
		</resultMap>
             
        <resultMap type="APTHouseType" id="APTHouseTypeResultMap">
        	<id property="aptHouseNo" column="aptHouseNo" />
        	<result property="etcHshldco" column="etc_hshldco"/>
        	<result property="houseManageNo" column="house_manage_no"/>
        	<result property="houseTy" column="house_ty"/>
        	<result property="insttRecomendHshldco" column="instt_recomend_hshldco"/>
        	<result property="lfeFrstHshldco" column="lfe_frst_hshldco"/>
        	<result property="lttotTopAmount" column="lttot_top_amount"/>
        	<result property="mnychHshldco" column="mnych_hshldco"/>
        	<result property="nwwdsHshldco" column="nwwds_hshldco"/>
        	<result property="oldParntsSuportHshldco" column="old_parnts_suport_hshldco"/>
        	<result property="pblancNo" column="pblanc_no"/>
        	<result property="spsplyHshldco" column="spsply_hshldco"/>
        	<result property="suplyAr" column="suply_ar"/>
        	<result property="suplyHshldco" column="suply_hshldco"/>
        	<result property="transrInsttEnfsnHshldco" column="transr_instt_enfsn_hshldco"/>
        </resultMap>       
           
        <resultMap type="APTRate" id="APTRateResultMap">
 	        <id property="aptRateNo" column="aptRateNo" />
 	        <result property="houseManageNo" column="house_manage_no"/>
 	        <result property="pblancNo" column="pblanc_no"/>
 	        <result property="houseTy" column="house_ty"/>
 	        <result property="resideSenm" column="reside_senm"/>
 	        <result property="subscrptRankCode" column="subscrpt_rank_code"/>
 	        <result property="suplyHshldco" column="suply_hshldco"/>
 	        <result property="reqCnt" column="req_cnt"/>
 	        <result property="cmpetRate" column="cmpet_rate"/>
 	        <result property="lwetScore" column="lwet_score"/>
 	        <result property="topScore" column="top_score"/>
 	        <result property="avrgScore" column="avrg_score"/>
        </resultMap>    
        
        <resultMap type="OfficeDetail" id="OfficeDetailResultMap">
        	<id property="officeDno" column="officeDno"/>
        	<result property="bsnsMbyNm" column="bsns_mby_nm"/>
        	<result property="cntrctCnclsBgnde" column="cntrct_cncls_bgnde"/>
        	<result property="cntrctCnclsEndde" column="cntrct_cncls_endde"/>
        	<result property="hmpgAdres" column="hmpg_adres"/>
        	<result property="houseDtlSecdNm" column="house_dtl_secd_nm"/>
        	<result property="houseManageNo" column="house_manage_no"/>
        	<result property="houseNm" column="house_nm"/>
        	<result property="houseSecdNm" column="house_secd_nm"/>
        	<result property="hssplyAdres" column="hssply_adres"/>
        	<result property="hssplyZip" column="hssply_zip"/>
        	<result property="mdhsTelno" column="mdhs_telno"/>
        	<result property="mvnPrearngeYm" column="mvn_prearnge_ym"/>
        	<result property="pblancNo" column="pblanc_no"/>
        	<result property="pblancUrl" column="pblanc_url"/>
        	<result property="przwnerPresnatnDe" column="przwner_presnatn_de"/>
        	<result property="rcritPblancDe" column="rcrit_pblanc_de"/>
        	<result property="subscrptRceptBgnde" column="subscrpt_rcept_bgnde"/>
        	<result property="subscrptRceptEndde" column="subscrpt_rcept_endde"/>
        	<result property="totSuplyHshldco" column="tot_suply_hshldco"/>
        </resultMap>
        
        <resultMap type="OfficeHouseType" id="OfficeHouseTypeResultMap">
        	<id property="officeHouseNo" column="officeHouseNo"/>
        	<result property="excluseAr" column="excluse_ar"/>
        	<result property="gp" column="gp"/>
        	<result property="houseManageNo" column="house_manage_no"/>
        	<result property="pblancNo" column="pblanc_no"/>
        	<result property="subscrptReqstAmount" column="subscrpt_reqst_amount"/>
        	<result property="suplyAmount" column="suply_amount"/>
        	<result property="suplyHshldco" column="suply_hshldco"/>
        	<result property="tp" column="tp"/>
        </resultMap>
        
        <resultMap type="OfficeRate" id="OfficeRateResultMap">
        	<id property="officeRateNo" column="officeRateNo"/>
        	<result property="houseManageNo" column="house_manage_no"/>
        	<result property="pblancNo" column="pblanc_no"/>
        	<result property="houseTy" column="house_ty"/>
        	<result property="suplyHshldco" column="suply_hshldco"/>
        	<result property="residntPriorAt" column="residnt_prior_at"/>
        	<result property="residentPriorSenm" column="resident_prior_senm"/>
        	<result property="reqCnt" column="req_cnt"/>
        	<result property="cmpetRate" column="cmpet_rate"/>
        </resultMap>
        
        <resultMap type="PublicRate" id="PublicRateResultMap">
        	<id property="pubNo" column="pubNo"/>
        	<result property="houseManageNo" column="house_manage_no"/>
        	<result property="pblancNo" column="pblanc_no"/>
        	<result property="houseTy" column="house_ty"/>
        	<result property="suplyHshldco" column="suply_hshldco"/>
        	<result property="spsplyKndNm" column="spsply_knd_nm"/>
        	<result property="spsplyKndHshldco" column="spsply_knd_hshldco"/>
        	<result property="reqCnt" column="req_cnt"/>
        	<result property="cmpetRate" column="cmpet_rate"/>
        </resultMap>
        
        <resultMap type="RemainDetail" id="RemainDetailResultMap">
        	<id property="remainNo" column="remainNo"/>
        	<result property="bsnsMbyNm" column="bsns_mby_nm"/>
        	<result property="cntrctCnclsBgnde" column="cntrct_cncls_bgnde"/>
        	<result property="cntrctCnclsRndde" column="cntrct_cncls_endde"/>
        	<result property="gnrlRceptBgnde" column="gnrl_rcept_bgnde"/>
        	<result property="gnrlRceptEndde" column="gnrl_rcept_endde"/>
        	<result property="hmpgAdres" column="hmpg_adres"/>
        	<result property="houseManageNo" column="house_manage_no"/>
        	<result property="houseDtlSecdNm" column="house_dtl_secd_nm"/>
        	<result property="houseNm" column="house_nm"/>
        	<result property="houseSecdNm" column="house_secd_nm"/>
        	<result property="hssplyAdres" column="hssply_adres"/>
        	<result property="hssplyZip" column="hssply_zip"/>
        	<result property="mdhsTelno" column="mdhs_telno"/>
        	<result property="mvnPrearngeYm" column="mvn_prearnge_ym"/>
        	<result property="pblancNo" column="pblanc_no"/>
        	<result property="pblancUrl" column="pblanc_url"/>
        	<result property="przwnerPresnatnDe" column="przwner_presnatn_de"/>
        	<result property="rcritPblancDe" column="rcrit_pblanc_de"/>
        	<result property="spsplyRceptBgnde" column="spsply_rcept_bgnde"/>
        	<result property="spsplyRceptEndde" column="spsply_rcept_endde"/>
        	<result property="subscrptRceptBgnde" column="subscrpt_rcept_bgnde"/>
        	<result property="subscrptRceptEndde" column="subscrpt_rcept_endde"/>
        	<result property="totSuplyHshldco" column="tot_suply_hshldco"/>
        </resultMap>
        
        <resultMap type="RemainHouseType" id="RemainHouseTypeResultMap">
        	<id property="remainHouseNo" column="remainHouseNo"/>
        	<result property="houseHanageNo" column="house_manage_no"/>
        	<result property="houseTy" column="house_ty"/>
        	<result property="lttotTopAmoun" column="lttot_top_amoun"/>
        	<result property="pblancNo" column="pblanc_no"/>
        	<result property="suplyHshldco" column="suply_hshldco"/>
        </resultMap>
        
        
		<select id="searchAptList" resultMap="AptdetailResultMap" parameterType="map">
			SELECT *
			FROM aptdetail apt
			WHERE 1=1
			<if test="hssplyAdres != null">
				AND(
					apt.hssply_adres like '%${hssplyAdres}%' 
				)
			</if>
		</select>
		
		<select id="selectAptCount" resultType="int" parameterType="map">
			SELECT COUNT(*)
			FROM aptdetail apt 
			WHERE 1=1
			<if test="hssplyAdres != null">
				AND(
					apt.hssply_adres like '%${hssplyAdres}%' 
				)
			</if>
		</select>
		
		<select id="searchOfficeList" resultMap="OfficeDetailResultMap" parameterType="map">
			SELECT * 
			FROM OfficeDetail office
			WHERE 1=1
			<if test="hssplyAdres != null">
				AND(
					office.hssply_adres like '%${hssplyAdres}%' 
				)
			</if>
		</select>
		
		<select id="selectOfficeCount" resultType="int" parameterType="map">
			SELECT COUNT(*) 
			FROM OfficeDetail office
			WHERE 1=1
			<if test="hssplyAdres != null">
				AND(
					office.hssply_adres like '%${hssplyAdres}%' 
				)
			</if>
		</select>
		
		<select id="searchRemainList" resultMap="RemainDetailResultMap" parameterType="map">
			SELECT *
			FROM RemainDetail remain
			WHERE 1=1
				<if test="hssplyAdres != null">
				AND(
					remain.hssply_adres like '%${hssplyAdres}%' 
				)
			</if>
		</select>
		
		<select id="selectRemainCount" resultType="int" parameterType="map">
			SELECT COUNT(*)
			FROM RemainDetail remain
			WHERE 1=1
				<if test="hssplyAdres != null">
				AND(
					remain.hssply_adres like '%${hssplyAdres}%' 
				)
			</if>
		</select>

</mapper>