<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="scripts">
<!-- Core -->
<script th:src="@{/assets/vendor/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/assets/vendor/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/vendor/headroom.js/dist/headroom.min.js}"></script>
<script th:src="@{/assets/vendor/onscreen/dist/on-screen.umd.min.js}"></script>

<!-- Spaces custom Javascript -->
<script th:src="@{/assets/js/spaces.js}"></script>

<!--제작한JS-->
<script th:src="@{/assets/js/mymain.js}"></script>
</div>
</html>